section [class^="container"] {
  padding: 4rem 2rem;
}

@media screen and (min-width: 1024px) {
section [class^="container"] {
  padding: 4rem;
}
  nav [class^="container"] {
  padding: 0 4rem;
}
}

section:not(:first-of-type){
  text-align: center;
}
section:nth-child(2n) {
  background-color: #EBDDD3;
}

/* Navbar */

.navbar {
  background-color: #ffffff;
}

.navbar-nav {
  align-items: center;
}
.navbar-nav .nav-link {
  color: #000000;
  font-size: 1.1rem;
}
.navbar-nav .nav-link {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
.navbar-nav .nav-item {
  padding: 0 1rem;
}
  .navbar-brand{
  font-size: 1.5rem;
}
}

/* My Photo */

.profile-img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 2px solid #ffffff;
}

section.Myphoto {
  background-color: #FFB6C1;
  padding-top: 72px;
}
  
@media screen and (max-width: 576px) {
section.Myphoto {
  text-align: center;
}
section.Myphoto img{
  width: 70%;
}
}

/* Skills */

section.Skills i{
  font-size: 2rem;
  margin: 1rem auto 0;
  border: 2px solid #000000;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
  section .card {
    border: 2px solid #00000;
    box-shadow: 4px 4px #000000;
    max-width: 22rem;
    margin-inline: auto;
}
.btn-outline-dark {
  border: 2px solid: #998679;
  box-shadow: 4px 4px #998679;
}

.btn-outline-dark:hover {
  box-shadow: 4px 4px #E2CEC9;
}


/* ABOUT */

@media screen and (min-width: 1024px) {
    section.about .container, 
    section.Projects .container {
        width: 60%;
    }
}

/* Projects */

section.Projects .carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

section.Projects .carousel-item p {
    max-width: 80%;
}

section.Projects .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.Projects .carousel.carousel-fade .carousel-item {
    transition: opacity 0.5s;
}


  
  
